@import '~antd/dist/antd.css';
@import '~bootstrap/scss/bootstrap';
@import './fonts/Brandon\ Grotesque\ 12/style.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

body, html { background: #F8FAFC; }
.admin-login-box { position: relative; top: 35vh; }
.input-login { font-weight: bold; }
.remember-text { font-size: 12px; font-family: 'Brandon Grotesque Bold', Arial, Helvetica, sans-serif; }
.admin-login-button { position: relative; left: -40px; }
.admin-login-text { position: relative; top: 5px; font-size: 13px; font-family: 'Brandon Grotesque Bold', Arial, Helvetica, sans-serif; }
.remember-switch { position: relative; left: -15px; top: 10px; }
.font-icon-admin { font-size: 30px; }
.error-text-login { font-family: 'Brandon Grotesque Bold', Arial, Helvetica, sans-serif; position: relative; top: 2px; font-size: 12px; }
.notification-warning-toast { width: 300px; }

.application-admin-logo { width: 100%; height: 50px; width: 43px; position: relative; left: 5px; top: 10px; }
.application-admin-logo-img { width: 120px; height: 40px; z-index: 2; }
.application-admin-logo-img-v2 { width: 36px; height: 40px; z-index: 2; }
.application-admin-nav-link-text { font-family: 'Brandon Grotesque Medium', Arial, Helvetica, sans-serif; }
.application-admin-header { box-shadow: 0 0 1px #f3f1f1; border-bottom: solid 1px #e8e8e8; width: calc(100vw - 60px); margin-left: 60px; z-index: 2; }
.application-admin-header .sub-admin-header { height: 36px; }
.admin-information-first { font-family: 'Brandon Grotesque Light', Arial, Helvetica, sans-serif; font-size: 12px; color: #707070; }
.button-icon-header { position: relative; top: -3px; }

.top-specifity { width: calc(100vw - 60px); margin-left: 60px; z-index: 2; height: 34px; }
.top-first-specifity { width: calc(100vw - 60px); margin-left: 60px; z-index: 2; background: transparent; }
.drawer-product-specifity { width: 300px; }
.product-specifity-input { font-family: 'Brandon Grotesque Light', Arial, Helvetica, sans-serif; font-size: 12px; color: #707070; }
.button-text { font-family: 'Brandon Grotesque Bold', Arial, Helvetica, sans-serif; font-size: 12px; color: #ffffff; }
.button-drawer-fill { width: 100%; }
.rows-two { width: calc(100vw - 60px); margin-left: 60px; height: calc(100vh - 100px); z-index: 2; }

.box-title-white, .box-notfound-description, .checkbox-title { color: #ffffff; font-family: 'Brandon Grotesque Bold', Arial, Helvetica, sans-serif; font-size: 12px; }
.checkbox-title { font-family: 'Brandon Grotesque Medium', Arial, Helvetica, sans-serif; }
.box-notfound-error { position: relative; left: 0%; }
.admin-input { font-family: 'Brandon Grotesque Medium', Arial, Helvetica, sans-serif; font-size: 14px; }
.input-login { background: #ffffff; -webkit-box-shadow: 6px 10px 23px -15px rgba(0,0,0,0.43); -moz-box-shadow: 6px 10px 23px -15px rgba(0,0,0,0.43); box-shadow: 6px 10px 23px -15px rgba(0,0,0,0.43); }

.editor-container { min-height: 50px; width: 100%; }
.editor-buttons { width: 100%; }
.focus-disable { font-family: 'Brandon Grotesque Bold', Arial, Helvetica, sans-serif; font-size: 12px; }
.focus-disable:active, .focus-disable:focus { outline: 0; outline-width: 0; outline-offset: 0; }
.product-image-file-input { opacity: 0; outline: none; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; }
.product-image-file-input:hover { cursor: pointer; }
.product-image-upload-icon { position: relative; top: 0px; font-size: 20px; }
.product-image-preview { cursor: pointer; min-height: 150px; border-radius: 5px; }

.admin-sider-icon { position: relative; left: -10px; }
.image-list-box-container { height: 50px; width: 80px; background: #ffffff; border-radius: 5px; border: 1px solid #707070; &:hover { .delete-slideshow-image-button { display: inline-block; } } }
.image-list-box { height: 40px; width: 70px; background: #ffffff; position: relative; }
.delete-slideshow-image-button { z-index: 3; position: relative; top: -35px; left: 20px; display: none; width: 20px; height: 20px; }
.trash-icon-slideshow { position: relative; left: 6px; top: -3px; }
.slideshow-image-show { flex: wrap; flex-wrap: wrap; }

.category-tree-admin-main-name, .category-tree-admin-sub-name { font-size: 12px; font-family: 'Brandon Grotesque Medium', Arial, Helvetica, sans-serif; color: #000000; }
.category-tree-admin-main-name { color: #707070; }
.category-select { width: 100%; }
.image-preview { width: 145px; height: 190px; background: #ffffff; border-radius: 5px; border: 1px solid #707070; }