@import '~antd/dist/antd.css';
@import '~bootstrap/scss/bootstrap';
@import './fonts/Brandon\ Grotesque\ 12/style.css';

.container-top-one { position: relative; top: 0px; left: 0px; right: 0x; width: 100vw; height: 60px; }
.application-logo { height: 45px; width: 145px; position: relative; top: 0.7px; }
.application-guest-navbar { background: #ffffff; }
.application-button-default-style { font-family: 'Brandon Grotesque Bold', Arial, Helvetica, sans-serif; font-size: 12px; position: relative; top: 10px; }
.application-button-default-style-reset { font-family: 'Brandon Grotesque Bold', Arial, Helvetica, sans-serif; font-size: 12px; }
.application-button-icon-style { position: relative; top: -3px; }
.application-badge-cart-counter { position: relative; top: -5px; }

.row-guest-first { width: 100vw; height: 53px; position: relative; top: 0px; left: 0px; right: 0px; background: #001529; }